GA4_PROPERTY_ID=224720340
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/connectors/ga4/callback
APP_BASE_URL=http://localhost:3000
META_AD_ACCOUNT_ID=2032183391008975
META_APP_ID=
META_APP_SECRET=
META_ACCESS_TOKEN=
